body
{
    margin: 5px;
    background-color: #61605f;
    font-family: Arial;
    color: black;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #dbe7d8;
    color: black;
}

.topnav a.active {
    background-color: #24b44b;
    color: white;
}

.content{
    border: none;
    border-color: transparent;
    background-color: #009959;
    color:white;
}

.chart{
    border: groove;
    border-color: #000000;
    background-color: #333;
    color: white;
}

.field{
    color: #009959;
    font-weight: bold;
}
.title{
    color: #24b44b;
    font-weight: bold;
    font-size: x-large;
}
